
.first {
    color: white;
    background-color: rgb(107, 107, 220);
}
.price {
    display: flex;
    align-items: center;
}
.old-price{
    text-decoration:line-through;
    color: red;
}

.new-price{
    color: green;
}

